* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* #top_head,#lower_heder_section{
    background: #01fde8;
    padding: 16px 24px; 
    color: #000000;
    text-align: center;
    font-size: 20px; 
}*/
#top_head {
    background: #01fde8;
    padding: 16px 24px;
    color: #000000;
    text-align: center;
}

#lower_heder_section {
    background: #01fde8;
    color: #000000;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
}



.name {
    margin-top: 14px;
    font-size: 30px;
    letter-spacing: 10px;
}

.name h4 {
    margin-top: 0px;
    font-size: 20px;
    letter-spacing: 5px;
}

#lower_heder_section img {
    width: 150px;
    height: 120px;
    margin-left: 50px;
}

#news {
    padding: 0px 200px;
    background: #a9a6a6;
}

#news .grid {
    grid-template-columns: 10% 90%;
}

#news a {
    color: #000;
}

#news a::after {
    content: "|";
    height: 20px;
    width: 20px;
    color: #000;
    padding-right: 20px;
}

/* nav */
.topnav {
    overflow: hidden;
    float: none;
    padding: 0px 200px;

}

.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a :hover {
    background-color: #08f3d0;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #Fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #08f3d0;
    color: #Fff;
}

.dropdown-content a:hover {
    background-color: #08f3d0;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 800px) {

    .topnav a,
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* nav */
.slider img {
    width: 100%;
    height: 500px;
}

.bx-wrapper{
    z-index: -1;
    margin-bottom: 0 !important;
}
.bx-pager {
    display: none;
}
/* aboutus */

#About_Us{
    padding: 50px 200px;
}
#About_Us h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 35px;
}
#About_Us .grid{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}
#About_Us .grid_content {
    text-align: justify;
}
#About_Us img {
    width: 100%;
    height: auto;
}

/* aboutus */

/*responsive */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
    .grid {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    #top_head {
        background: #01fde8;
        padding: 16px 24px;
        color: #000000;
        text-align: center;
    }

    #lower_heder_section {
        background: #01fde8;
        color: #000000;
        text-align: center;
    }
    
#news {
    padding: 0px 20px;
    background: #a9a6a6;
}
#news .grid {
    grid-template-columns: 35% 65%;
}

    img {
        margin-left: 0px !important;
    }

    .name h1 {
        margin-top: 0px !important;
        font-size: 30px;
        letter-spacing: 0px !important;
    }

    .name h4 {
        margin-top: 11px;
        font-size: 20px;
        letter-spacing: 0px;
        margin-bottom: 10px;
    }

    /* nav */
    .topnav {
        float: right;
        padding: 0 !important;
    }

    /* nav */
    .slider img {
    width: 100%;
    height: 250px;
}
#About_Us {
    padding: 20px;
}
#About_Us .grid{
    grid-template-columns: auto;
    gap: 15px;
}
#About_Us h1 {
    font-size: 30px;
    margin-bottom: 15px;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .topnav {
    overflow: hidden;
    float: none;
    padding: 0px 100px;
}

#news {
    padding: 0px 50px;
    background: #a9a6a6;
}
#news .grid {
    display: grid;
    grid-template-columns: 20% 80%;
}
.name{
    font-size: 25px !important;
    letter-spacing: 0;
}
#About_Us {
    padding: 20px;
}
#About_Us .grid{
    grid-template-columns: auto;
    gap: 15px;
}
#About_Us h1 {
    font-size: 30px;
    margin-bottom: 15px;
}
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .grid {
        padding: 10px;
    }

    .name h1 {
        margin-top: 0px !important;
        font-size: 40px;
        letter-spacing: 0px !important;
    }
    #news{
        padding: 0 100px;
    }
    .topnav{
        padding: 0px 100px;
    }
    #About_Us {
    padding: 50px 100px;
}
#About_Us .grid{
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    #news,.topnav {
        padding: 0px 100px;
    }
    .name {
        margin-top: 14px;
        font-size: 18px;
        letter-spacing: 10px;
    }

    #news .grid {
        grid-template-columns: 15% 85%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}